* {
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(100px, auto); /*Versão 2.0*/
}

.grid-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.one {
    grid-column: 1/13;
    background-color: #F7EA00;
    height: 150px;
}

.two {
    grid-column: 1/4;
    background-color: #5EC9EA;
    height: 300px;
}

.three {
    grid-column: 4/7;
    background-color:#E836B1;
}

/* @media screen and (max-width: 480px) {
    .two {
        grid-column: 1/13;
    }
    .three {
        grid-column: 1/13;
        height: 150px;
    }
} */



/* VERSÃO 2.0 - Com A, B, C, D, E, F */

.four {
    grid-column: 7/10;
    background-color: #F7B93C;
}

.five {
    grid-column: 1/4;
    background-color: #ED5A5A;
    height: 300px;
}

.six {
    grid-column: 4/7;
    background-color: #41EFB9;
}

/* @media screen and (max-width: 480px) {
    .two {
        grid-column: 1/13;
    }
    .three {
        grid-column: 1/5;
        height: 100px;
    }
    .four {
        grid-column: 5/9;
    }
    .five {
        grid-column: 9/13;
    }
    .six {
        grid-column: 1/13;
        grid-row: 4/4;
        height: 150px;
    }
} */



/* VERSÃO 3.0 - Com A, B, C, D, E, F, G, H */

.seven {
    grid-column: 7/10 ;
    background-color: #92E542;
}

.eight{
    grid-column: 10/13;
    grid-row: 2/4;
    background-color: #E486EA;
}


@media screen and (max-width: 480px) {
    .two {
        grid-column: 1/5;
        height: 100px;
    }
    .three {
        grid-column: 5/9;
    }
    .four {
        grid-column: 9/13;
    }
    .five {
        grid-column: 1/5;
        height: 100px;
    }
    .six {
        grid-column: 5/9;
    }
    .seven {
        grid-column: 9/13;
    }
    .eight{
        grid-column: 1/13;
        grid-row: 4/4;
        height: 150px;
    }
}